.destination-page {
  min-height: 100vh;
}
.destinationPageHeroSection {
  min-height: 10rem;
}
.destination-hero-section {
  height: 30rem;
  width: 100%;
  position: relative;
}
.destination-hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.DestinationContent {
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-white);
}
@media screen and (max-width: 50rem) {
  .DestinationContent {
    font-size: 1.5rem;
    left: 15%;
  }
}
