.featured-destination-container{
    min-height: 50vh;
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    gap: 2rem;
   
}
.scroll-wrapper {
    display: flex;
    width: 100%; 
    cursor: pointer;
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); 
    }
}


.fdElements {
    min-width: 25%; 
}
@media screen and(max-width:50rem) {
    .fdElements{
        min-width: 50%;
    }
    .scroll-wrapper {
        width: 150%; 
    }
}
.image-wrapper-container-featured{
    height: 28rem;
    width: 28rem;
    position: relative;
}
.image-wrapper-container-featured img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay-f{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
}
.content-featured{
    position: absolute;
    margin-top: -20rem;
    margin-left: 10rem;
    margin-right: -10rem;
    color: var(--color-white);
    height: 100%;
    width: 100%;
    
}
.content-featured p{
font-size: 2rem;
font-weight: 600;
border-bottom: 2.5px solid white;


}
.icon-container{
    position: absolute;   
    top: 1rem;            
    right: 1rem;        
    z-index: 3;           
    color: #fff;         
    font-size: 2rem;      
    cursor: pointer; 
    
}
.icon-container svg{
    font-size: 2.5rem;
    transition: all 1s linear;
}
.icon-container svg :hover{
    color: var( --color-dark-beige);
}
.main-feature-container h3{
    margin-top: 5rem;
    text-align: center;
    font-size: 2.5rem;
}
.feature-active-class{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: gray;
}
.feature-active-class :active{
    color: var(--color-dark-beige);
}